<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <script src=""></script>
    <title>Document</title>
</head>
<body>

    <div class="login_container">
        <!--logo et brand-->
        <div class="title">
            <div class="logo">
                <img src="./assets/logo.png" alt="">
            </div>
            <div class="brand">workflow</div>
        </div>
         <!--welcome-->
         <div class="msg">
            Merci d'entrer vos informations
         </div>

         <!-- form-->
         <div class="form_container">
            <form action="">
                <!--email-->
                <div class="item">
                    <label for=""></label>
                    <input type="email" id="email"  >
                </div>
                <!--mot de passe-->
                <div class="item">
                    <label for=""></label>
                    <input type="password" id="password">
                </div>
                <!--submit-->
                <button class="btn_connect">se connecter</button>
            </form>
         </div>
    </div>
    

</body>
</html>