@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.wrapper_all{
    background-color: aquamarine;
}
.wrapper{
    display: flex;
    background-color: red;
    height: 100vh;
}

.logout-btn {
    border: none;
    padding: .3rem;
    background-color: lightpink;
    color: crimson;
    border: .1rem solid crimson;    
    border-radius: .3rem;
    cursor: pointer;
}
a {
    color: #0f172a;
}
/* ########## sidebar ################ */
.sidebar{
    background-color: #ffffff;
    width: 250px;
    border-right: 1px solid rgba(182, 178, 178, 0.685);
}
.profile{
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.profile_imgname{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.profile_imgname .profile_img{
    background-image: url("../assets/profile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.menu{
    /* background-color: rosybrown; */
    padding: 0 10px;
    margin: 50px 0 0 0;
}
.menu_title{
    color: #615a5a;
    padding: 0 0 15px 0;
    font-weight: 500;
}
.menu_elm ul{
    /* background-color: aqua; */
    list-style-type: none;
}
.menu_elm li{
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.active{
    background-color: rgba(180, 172, 172, 0.503);
    border-radius: 0 5px 5px 0px;
    border-left: 4px solid rgb(38, 37, 37);
}
.menu_elm li i{
    padding: 0 10px;
}
/* ############ nav ############### */
.dashboard_body_nav{
    /* background-color: red; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}




/* ########## body ################ */
.dashboard_body{
    background-color: #fff;
    width: calc(100% - 250px);
}
.body_nav{
    margin: 2rem 3rem;
}
.body_wrapper{
    margin: 2rem 3rem;
}
.body_nav .title{
    font-size: 0.9rem;
    color:  #0f172a;
    letter-spacing: 2px;
}
.body_nav .title span{
    opacity: 0.8;
}
.info_table .table_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.action_info .btn_dash, .add_btn .add_btn_pat{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #cfc4c4;
}
.table_header .search input{
    border-radius: 5px;
}
.action_info .btn_dash:hover, .add_btn .add_btn_pat:hover{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #e7e1e1;
    cursor: pointer;
}
.table_body{
    padding: 10px 0;
}
.info_table{
    padding: 10px 40px !important;
}
.table_body .table_body_nav{
    /* background-color: blue; */
    display: flex;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid black;
}
.table_body .table_body_info{
    background-color: rgba(234, 234, 237, 0.882);
    display: flex;
    height: 40px;
    align-items: center;
    border-top: 1px solid grey;
}
/* size */
.table_body_nav .cin,.table_body_info .info_cin{
    width: 150px;
}
.table_body_nav .fullname, .table_body_info .info_fullname{
    width: 350px;
}
.table_body_nav .sex,.table_body_info .info_sex{
    width: 250px;
}
.table_body_nav .action,.table_body_info .action_info{
    width: 250px;
}