@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.wrapper_all{
    background-color: aquamarine;
}
.wrapper{
    display: flex;
    background-color: red;
    height: 100vh;
}
/* ########## sidebar ################ */
.sidebar{
    background-color: rebeccapurple;
    width: 230px;
}
.profile{
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.profile_imgname{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
.profile_imgname .profile_img{
    background-image: url("../assets/profile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
/* ########## body ################ */
.dashboard_body{
    background-color: #fff;
    width: calc(100% - 230px);
}

.body_nav{
    margin: 2rem 3rem;
}
.body_nav .title{
    font-size: 1.4rem;
    color:  #0f172a;
    letter-spacing: 2px;
}
.body_nav .title span{
    opacity: 0.8;
}


  
  thead th,
 
  
  th {
    letter-spacing: 2px;
    padding: 20px;
    
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  table td{
    border-bottom: 1px solid black;

  }
  tr.border-bottom {
    border-bottom: 1px solid #ff000d;
  }
  
  