@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.wrapper_all{
    background-color: aquamarine;
}
.wrapper{
    display: flex;
    background-color: red;
    height: 100vh;
}
/* ########## sidebar ################ */
.sidebar{
    background-color: #ffffff;
    width: 230px;
    border-right: 1px solid rgba(182, 178, 178, 0.685);
}
.profile{
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}
.profile_imgname{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.profile_imgname .profile_img{
    background-image: url("../assets/profile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.menu{
    /* background-color: rosybrown; */
    padding: 0 10px;
    margin: 50px 0 0 0;
}
.menu_title{
    color: #615a5a;
    padding: 0 0 15px 0;
    font-weight: 500;
}
.menu_elm ul{
    /* background-color: aqua; */
    list-style-type: none;
}
.menu_elm li{
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.active{
    background-color: rgba(180, 172, 172, 0.503);
}
.menu_elm li i{
    padding: 0 10px;
}
/* ########## body ################ */
.dashboard_body{
    background-color: #ffffff;
    width: calc(100% - 230px);
}

